img {
    max-width: 75%;
    max-height: 56%;
}

.square {
    height: 14rem;
    width: 16rem;
}

mat-card{
    text-align: center;
    margin-top: 0.75rem;
    mat-card-content{
        width: 100%;
        justify-content: center;
        display: flex;
    }
    mat-card-actions{
        border-radius: 11px;
        background: #f7f7f7;

        .width-form-field{
            width: 50% !important;
            text-align: center;
        }
    }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}