<mat-grid-list [cols]="breakpoint" rowHeight="100px" (window:resize)="onResize($event.target)">
    <mat-grid-tile *ngFor="let product of products.data" [colspan]="1" [rowspan]="3">
        <mat-card class="square">
            <img mat-card-image src="{{product.image}}" alt="Foto do produto">
            <mat-card-content>
                <p>
                    <b>{{product.description}} ({{product.value | currency:'BRL'}})</b>
                </p>
            </mat-card-content>
            <mat-card-actions>
                <mat-grid-list cols="3" rowHeight="4rem">
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <button mat-button color="primary" (click)="remove(amount, product)"><b>-</b></button>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <mat-form-field class="width-form-field">
                            <input matInput #amount value="0">
                        </mat-form-field>
                    </mat-grid-tile>
                    <mat-grid-tile [colspan]="1" [rowspan]="1">
                        <button mat-button color="primary" (click)="add(amount, product)"><b>+</b></button>
                    </mat-grid-tile>
                </mat-grid-list>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>